:root {
    --white: #fff;
    --warm-white: #fdfbed;
    --white-yellow: #fefef3;
    --white-pink: #f0e6e3;
    --white-blue: #E5EBEF;
    --white-gray: #e4e4e2;
    --white-teal: #e8f7f0;
    --white-green: #e0e7e3;
    --light-green: #ddeeda;
    --light-pink: #efd7d0;
    --light-coral: #ffe3d1;
    --light-gray: #d1d0ca;
    --muted-blue: #abb8bf;
    --muted-teal: #b1cbc9;
    --muted-green: #83a091;
    --medium-gray: #828282;
    --medium-red: #eb9f96;
    --medium-orange: #ffbf91;
    --dark-gray: #404040;
    --bright-magneta: #ff00e3;
    --pink-peacock: #c83e74;
    --bright-pink: #ff6872;
    --living-coral: #fc766a;
    --coral-cloud: #E5AEA1;
    --sweet-lilac: #e7b7cf;
    --sweet-corn: #f2edd7;
    --citron-tint: #e5e099;
    --lemon: #e7ec96;
    --citron: #e7ec7b;
    --aspen-gold: #fed65e;
    --butterscotch: #f8bb57;
    --tumeric: #ff842a;
    --bright-orange: #ff8566;
    --burnt-orange: #f08b6d;
    --fiesta-red: #de4d44;
    --jester-red: #9e3744;
    --bright-purple: #3f00c5;
    --princess-blue: #2e5d9f;
    --eclipse: #3b3a50;
    --muted-navy: #282a41;
    --bright-navy: #1b1f3a;
    --royal-blue: #353f7c;
    --dark-blue: #104878;
    --mermaid-green: #4e9796;
    --emerald-green: #005147;
    --purple-black: #02031c;
    --charcoal: #1d2b30;
    height: 100vh;
}
body {
    /* background: var(--charcoal) */
    background: var(--white-yellow);
}
/* .carousel-inner{
    background: var(--living-coral);
} */

.header{
    font-family: mrs-eaves-roman-small-caps, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    /* color: var(--white-yellow); */
    color: var(--charcoal);
    margin-bottom: 3%;
}
.footer{
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--eclipse);
    margin-top: 5%;
    margin-bottom: 5%;
}
.pics{
    width: 100%;
}
#nav-home{
    justify-content: center;
}
.nav{
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--eclipse);
    margin-top: 2%;
    margin-bottom: 2%;
}

ul.nav li a, ul.nav li a:visited {
    color: var(--eclipse) !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: var(--muted-teal) !important;
}

ul.nav li.active a {
    color: var(--muted-teal) !important;
}

.list{
    margin-top: 1%;
    margin-bottom: 1%;
}
#top-ten-header{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--muted-green);
    font-size: 32px;
    text-align: justify;
}
#highlights{
    list-style: none;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--medium-gray);
    padding-inline-start: 0px;
}



